html {
    background-color: linear-gradient (4.47deg, #5CD252 39.31%, rgba(255, 255, 255, 0) 96.38%);;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.bg-green-gradient {
    background: linear-gradient(4.47deg, #5CD252 39.31%, rgba(255, 255, 255, 0) 96.38%);;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

#container {
    position: relative;
    height: 100vh; 

}

header {
    position: absolute;
    width: 816px;
    height: 101px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.logo {
    position: absolute;
    width: 136px;
    height: 81px;
    left: 59px;
    top: 3px;
    }

.pencarian {
    position: absolute;
    width: 27px;
    height: 26px;
    left: 1150px;
    top: 65px;
}

.profil {
    position: absolute;
    width: 37px;
    height: 40px;
    left: 1263px;
    top: 58px;
}

.keranjang {
    position: absolute;
    width: 33px;
    height: 32px;
    left: 1203px;
    top: 62px;
}

.gambar1 {
    position: absolute;
    width: 140px;
    height: 134px;
    left: 1100px;
    top: -65px;
}

.gambar2 {
    position: absolute;
    width: 140px;
    height: 134px;
    left: 1150px;
    top: -65px;
}

.gambar3 {
    position: absolute;
    width: 140px;
    height: 134px;
    left: 1200px;
    top: -65px;
}

.gambar4 {
    position: absolute;
    width: 140px;
    height: 134px;
    left: 1244px;
    top: -65px;
}

.form-input {
    position: absolute;
    width: 211px;
    height: 26px;
    left: 930px;
    top: 65px;

    background: #50B620;
    background-blend-mode: multiply;

}

.beranda {
    position: absolute;
    width: 220px;
    height: 32px;
    left: 7px;
    top: 101px;

    background:  #C791E8;
    border-radius: 8px;
}

.Daftar-Obat {
    position: absolute;
    width: 220px;
    height: 32px;
    left: 227px;
    top: 101px;

    background: #C791E8;
    border-radius: 8px;
}

.Daftar-TanamanHerbal {
    position: absolute;
    width: 220px;
    height: 32px;
    left: 447px;
    top: 101px;

    background: #C791E8;
    border-radius: 8px;
}

.Detail-Obat {
    position: absolute;
    width: 220px;
    height: 32px;
    left: 667px;
    top: 101px;

    background: #C791E8;
    border-radius: 8px;
}

.Detail-Tanaman-Herbal {
    position: absolute;
    width: 220px;
    height: 32px;
    left: 887px;
    top: 101px;

    background: #C791E8;
    border-radius: 8px;
}

.Resep {
    position: absolute;
    width: 220px;
    height: 32px;
    left: 1107px;
    top: 101px;

    background:linear-gradient(180deg, rgba(199, 145, 232, 0.69) 2.6%, rgba(152, 11, 239, 0) 100%);
    border-radius: 8px;
}
.Batuk{
    position: absolute;
    width: 13px;
    height: 21px;
    left: -950px;
    top: 100px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}
.gambarobat{
    position: absolute;
width: 266.67px;
height: 150px;
left: 62px;
top: 50px;

background: url(Obat-Batuk-Alami-di-Sekitar-Kita.jpg);
}
.paragraf1 {
    position: absolute;
    padding: 15px;
    text-align: left;
    top: 60%;
    width: 600px;
    height: 500px;
    left: 350px;
    top: 20px;

    font-family: Roboto;
    text-indent: 50px;
    font-style: normal;
    font-weight: normal;
     word-spacing: 10px;
    font-size: 13px;
    line-height: 15px;

    color: #000000;
}
.paragraf2{
    position: absolute;
    padding: 15px;
    text-align: left;
    top: 60%;
    width: 600px;
    height: 161px;
    left: 350px;
    top: 100px;

    font-family: Roboto;
    text-indent: 50px;
    font-style: normal;
    font-weight: normal;
     word-spacing: 10px;
    font-size: 13px;
    line-height: 15px;

    color: #000000;
}
.image-1 {
    position: absolute;
    width: 300px;
    height: 250px;
    left: -1110px;
    top: 263px;;
    transform: rotate(-20deg);
}
.footer {
    position: absolute;
    width: 1351px;
    height: 5000px;
    left: -1110px;
    top: 510px;

    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #5CD252 99.99%, rgba(196, 196, 196, 0) 100%);
}